@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Inter:wght@400;500&display=swap');
/* In global.css */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@300;400&display=swap');

:root {
  --font-serif-garamond: 'EB Garamond', serif;
  --font-inter: 'Inter', sans-serif;
}

.font-serif-garamond {
  font-family: 'Cormorant Garamond', serif;
}

.font-sans-inter {
  font-family: 'Inter', sans-serif;
}


@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
